
<div class = "container py-5">
  <div class = "row">
    <div class = "col-12">
      <div class = "bg-white rounded p-3 shadow">

        <h1>Lists</h1>
        <ol>
          <% @lists.each do |list| %>
          <div>
            <h4>• <%= link_to list.name, list_path(list) %>
              <%= link_to "🚮", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></h4>
          </div>
          <% end %>
        </ol>
        <br>
        <%= link_to 'Add List', new_list_path(@list),  class: "btn btn-primary" %>
        <br>
        <br>
        <%# <%= cl_image_tag("@list.photo.key",
            width: 400, height: 300, crop: :fill) %>
    </div>
  </div>
</div>
