
<div class = "container mt-5">

<h1>Lists</h1>



<ol>
  <% @lists.each do |list| %>
  <div>
    <h4><%= link_to list.name, list_path(list) %></h4>
  </div>
  <% end %>
</ol>
<br>
<%= link_to 'Add List', new_list_path(@list),  class: "btn btn-primary" %>
</div>
